[submodule "phpcan/libs/ANS/Cache"]
	path = phpcan/libs/ANS/Cache
	url = git://github.com/eusonlito/Cache.git
[submodule "phpcan/libs/stylecow/stylecow"]
	path = phpcan/libs/stylecow/stylecow
	url = git://github.com/oscarotero/stylecow.git
[submodule "phpcan/libs/imagecow/imagecow"]
	path = phpcan/libs/imagecow/imagecow
	url = git://github.com/oscarotero/imageCow.git
[submodule "phpcan/libs/phpmailer/phpmailer"]
	path = phpcan/libs/phpmailer/phpmailer
	url = git://github.com/PHPMailer/PHPMailer.git
[submodule "phpcan/libs/fzaninotto/faker"]
	path = phpcan/libs/fzaninotto/faker
	url = https://github.com/fzaninotto/Faker.git
[submodule "common/ckeditor"]
	path = common/ckeditor
	url = git://github.com/ckeditor/ckeditor-releases.git
